<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ruolan.com.goodscenter">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".ui.activity.GoodsActivity"/>
        <activity android:name=".ui.activity.GoodsDetailActivity"/>
        <activity android:name=".ui.activity.CartActivity"/>
        <activity android:name=".ui.activity.CategoryActivity"/>

    </application>

</manifest>
