<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ruolan.com.messagecenter">

    <!-- Required -->
    <permission
        android:name="ruolan.com.cnmarket4kotlin.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">



        <receiver
            android:name="ruolan.com.messagecenter.receiver.MessageReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="ruolan.com.cnmarket4kotlin" />
            </intent-filter>
        </receiver>

        <meta-data android:name="JPUSH_APPKEY" android:value="${JPUSH_APPKEY}"
                   tools:replace="android:value"
            />
        <meta-data android:name="JPUSH_CHANNEL" android:value="${JPUSH_CHANNEL}"
                   tools:replace="android:value"
            />


    </application>

</manifest>