<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ruolan.com.kotlin">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Required -->
    <!--<permission-->
        <!--android:name="ruolan.com.cnmarket4kotlin.permission.JPUSH_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".common.MainApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!--<activity android:name="com.ruolan.user.ui.activity.LoginActivity">-->

         <!---->
        <!--</activity>-->

        <activity android:name=".ui.activity.SettingActivity"/>




    </application>

</manifest>